<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <!-- Delegate command handler for Qute template -->
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="com.redhat.qute.jdt.internal.ls.QuteTemplateDelegateCommandHandler">
            <command id="qute/template/javaClasses"/>
            <command id="qute/template/javaClassMembers"/>
       </delegateCommandHandler>
   </extension>

</plugin>
